body {
  font-family: 'Clear Sans', sans-serif;
}

p {
  widows: 1;
  orphans: 1;
}

a {
  text-decoration: none;
}

div.taxonhgroup h1 {
  text-align: center;
}

div.taxonhgroup h2 {
  text-align: center;
}



h1 {
  text-align: center;
}

section h3::before {
  font-family: 'Clear Sans', sans-serif;
  content: "§ ";
}

figure.cover img {
  display: block;
  margin: auto;
}

figure.cover figcaption {
  text-align: right;
  font-style: italic;
  font-size: smaller;
}

/*
figure.cover figcaption::before {
  content: "image ";
}
*/

figcaption#coverfigcaption {
  text-align: center;
  font-style: italic;
}

span.photolic {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: smaller;
}

span.photolic::before {
  content: "photo ";
}

span.vectorlic {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: smaller;
}

span.vectorlic::before {
  content: "ill. ";
}

.taxon {
  font-style: italic;
}

a[title="Internet Resource"]::before {
  font-family: 'Clear Sans SCP', 'Clear Sans', sans-serif;
  content: "🌐";
}

a.gls::before {
  font-family: 'Clear Sans SCP', 'Clear Sans', sans-serif;
  content: "📓";
}

/* uncomment below for visual testing of missing abbr tags */
abbr {
  background-color: yellow;
}

/* uncomment below for visual testing of missing time tags */
time {
  background-color: lightblue;
}

div.taxonflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.taxonflex span.prev {
  order: 0;
}

div.taxonflex span.next {
  order: 2;
}

div.taxonflex span.main {
  order: 1;
}