body {
  font-family: 'Clear Sans', sans-serif;
}

p {
  widows: 1;
  orphans: 1;
}

a {
  text-decoration: none;
}

div.taxonhgroup h1 {
  text-align: center;
}

div.taxonhgroup h2 {
  text-align: center;
}



h1 {
  text-align: center;
}

section h3::before {
  font-family: 'Clear Sans', sans-serif;
  content: "§ ";
}

figure.cover img {
  display: block;
  margin: auto;
}

figure.cover figcaption {
  text-align: right;
  font-style: italic;
  font-size: smaller;
}

figure.cover figcaption::before {
  content: "image ";
}

span.imagelic {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: smaller;
}

span.imagelic::before {
  content: "image ";
}

.taxon {
  font-style: italic;
}

a[title="Internet Resource"]::before {
  font-family: 'Clear Sans SCP', 'Clear Sans', sans-serif;
  content: "🌐";
}

a.gls::before {
  font-family: 'Clear Sans SCP', 'Clear Sans', sans-serif;
  content: "📓";
}