aside {
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em;
  border-left-style: dashed;
}

li.strong {
  font-weight: bold;
}

li dfn {
  font-weight: bold;
  font-style: normal;
}

p dfn {
  font-weight: bold;
  font-style: normal;
}

li em {
  text-decoration: underline;
  font-style: normal;
}

div.aplhgroup h2 {
  text-align: center;
}

div.aplhgroup h3 {
  text-align: center;
}

div.aplhgroup p {
  text-align: center;
  font-weight: bold;
}

.dsq::before {
  content: "“";
}

.dsq::after {
  content: "”";
}

.ssq::before {
  content: "‘";
}

.ssq::after {
  content: "’";
}

h3.a11y::after {
  font-family: 'Clear Sans SCP', 'Clear Sans', sans-serif;
  content: " ♿";
}