aside {
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em;
  border-left-style: dashed;
}

li.strong {
  font-weight: bold;
}

li dfn {
  font-weight: bold;
  font-style: normal;
}

p dfn {
  font-weight: bold;
  font-style: normal;
}

li em {
  text-decoration: underline;
  font-style: normal;
}

.apl::before {
  content: "“";
}

.apl::after {
  content: "”";
}