h1.thetitle {
  font-size: 1.3em;
  text-align: center;
}
h2.thetagline {
  margin-top: -1em;
  text-align: right;
  font-weight: normal;
  font-style: italic;
  font-size: smaller;
}
h2.theedition {
  text-align: center;
}
p.pubdate {
  margin-top: -1em;
  text-align: center;
  font-size: smaller;
}
h2.thepublisher {
  text-align: center;
  font-weight: normal;
  font-style: italic;
}
p.copyright {
  max-width: 75%;
}
p.isbn {
  text-align: right;
}