section#accessibility h2::before {
  font-family: 'Clear Sans SCP', 'Clear Sans', sans-serif;
  content: "♿ ";
}

h3.a11y::after {
  font-family: 'Clear Sans SCP', 'Clear Sans', sans-serif;
  content: " ♿";
}

div.poem p {
  font-size: 1.1em;
  text-align: center;
}

div.poem p.author {
  font-size: smaller;
  font-style: italic;
  text-align: right;
}

figure.fullwidth img {
  display: block;
  margin: auto;
}

figure.fullwidth figcaption {
  text-align: center;
  font-style: italic;
}