section#accessibility h2::before {
  font-family: 'Clear Sans SCP', 'Clear Sans', sans-serif;
  content: "♿ ";
}

h3.ally::after {
  font-family: 'Clear Sans SCP', 'Clear Sans', sans-serif;
  content: " ♿";
}

div.poem p {
  font-size: 1.1em;
  text-align: center;
}

div.poem p.author {
  font-size: smaller;
  font-style: italic;
  text-align: right;
}

figure.fullwidth figcaption {
  text-align: right;
  font-style: italic;
  font-size: smaller;
}

figure.fullwidth figcaption::before {
  content: "image ";
}